<div class="jumbotron text-center">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>

  <div class="d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
     
          <li class="nav-item">
            <a class="nav-link {{ if .IsHome }} active {{ end }} " href="{{ .Site.Home.Permalink }}">Home</a>
          </li>

          {{ $currentPage := . }}

          {{ range .Site.Menus.main.ByWeight }}

            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class='nav-link dropdown-toggle  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}' href="#"
                  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   {{ .Title }}
                </a>
             
                 <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {{ range .Children }}
                    <li>
                      <a class='dropdown-item  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}' href="{{ .URL }}">  {{ .Title }}</a>
                    </li>
                  {{ end }}
                </ul> 
              </li>
          
            {{ else }}
            <li class="nav-item">
              <a class='nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
                href="{{ absURL .URL }}">
                 {{ .Title }}
                 
              </a>
            </li>
            {{ end }}

          {{ end }}
        
        </ul>
      </div>
    </nav>
  </div>
  
</div>

